ENVIRONMENT = "DEV" # DEV / PROD
LOGLEVEL = "DEBUG"  # Could be DEBUG, INFO, WARNING, ERROR, CRITICAL

GPIO_PINS = {
    'COMP_PIN': 14,
}

MAX_TEMP = -17
MIN_TEMP = -17.5

INFLUXDB = {
    'ENABLED': False
    'HOST': "127.0.0.1"
}
APPOPTICS_KEY = None
